@using IVGDb.Models;

@model UserViewModel

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/IVGDbScripts/CarouselScript.js"></script>

<div id="Main-page-block-top">
    <!-- http://codepen.io/redfrost/pen/dbrgk -->
    <div class="container-fluid">
        <div class="row-fluid" id="Main-screen">
            <div class="span12">
                <span id="TV-img">
                    <img src="~/Images/sharp-old-school-tv.png" />
                </span>
                <div class="carousel slide" id="myCarousel">
                    <div class="carousel-inner">

                        <div class="item active">

                            <div class="bannerImage">
                                <a href="~/VideoGame/ShowGame?gameID=1"><img src="http://img.gamefaqs.net/box/9/2/3/50923_front.jpg" alt="" width="640" height="442"></a>
                            </div>

                        </div><!-- /Slide1 -->

                        <div class="item">

                            <div class="bannerImage">
                                <a href="~/VideoGame/ShowGame?gameID=2"><img src="http://images51.fotki.com/v282/photos/2/1851932/10314675/supercastlevania4boxart-vi.jpg" alt="" width="640" height="442"></a>
                            </div>

                        </div><!-- /Slide2 -->

                        <div class="item">

                            <div class="bannerImage">
                                <a href="~/VideoGame/ShowGame?gameID=3"><img src="http://fantasyanime.com/squaresoft/ctbox_front.jpg" alt="" width="640" height="442"></a>
                            </div>

                        </div><!-- /Slide3 -->

                    </div>

                    <div class="control-box">
                        <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                        <a href="#" class="carousel-control middle"></a>
                        <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                    </div><!-- /.control-box -->

                </div><!-- /#myCarousel -->

            </div><!-- /.span12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<div id="News-section">
    <h2>In the News</h2>
    <!-- start feedwind code -->
    <script type="text/javascript">document.write('<script type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js"><' + '/script>');</script>
    <script type="text/javascript"> (function () { var params = { rssmikle_url: "http://feeds.ign.com/ign/game-reviews", rssmikle_frame_width: "900", rssmikle_frame_height: "500", rssmikle_target: "_blank", rssmikle_font: "Arial, Helvetica, sans-serif", rssmikle_font_size: "12", rssmikle_border: "off", responsive: "on", rssmikle_css_url: "", text_align: "left", text_align2: "left", corner: "on", scrollbar: "on", autoscroll: "off", scrolldirection: "down", scrollstep: "3", mcspeed: "20", sort: "New", rssmikle_title: "on", rssmikle_title_sentence: "IVGDb News", rssmikle_title_link: "http://feeds.ign.com/ign/game-reviews", rssmikle_title_bgcolor: "#000000", rssmikle_title_color: "#FFFFFF", rssmikle_title_bgimage: "", rssmikle_item_bgcolor: "#F5F5F5", rssmikle_item_bgimage: "", rssmikle_item_title_length: "55", rssmikle_item_title_color: "#005EFF", rssmikle_item_border_bottom: "on", rssmikle_item_description: "on", item_link: "off", rssmikle_item_description_length: "150", rssmikle_item_description_color: "#666666", rssmikle_item_date: "gl1", rssmikle_timezone: "Etc/GMT", datetime_format: "%b %e, %Y %l:%M:%S %p", item_description_style: "text+tn", item_thumbnail: "crop", article_num: "15", rssmikle_item_podcast: "off", keyword_inc: "", keyword_exc: "" }; feedwind_show_widget_iframe(params); })();</script><div style="font-size:10px; text-align:center; "><a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!-- end feedwind code -->
</div>