@{
    var url = ViewBag.URL;
}

@if (User.Identity.Name.Length > 0)
{
    using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="@Url.Action("Manage", "User", new { username = User.Identity.Name })">
                    @User.Identity.Name! <img src='@Session["ImgURL"]' width="30" height="30" />
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <button type="submit" class="btn btn-link" id="Logout-btn">Logout</button>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: new { id = "Register-link" })</li>
        <li>
            <a data-toggle="modal" data-target="#Login-modal" id="Login-link">Login</a>     
        </li>
    </ul>
}