@using (Html.BeginForm("GetGame", "VideoGame", FormMethod.Post, new { id = "Search-bar-form" }))
{
    <input type="text" id="Search-bar" name="title" placeholder="Find Games, Developers, and more..." />
    <button type="submit" id="Search-btn" name="search-submit">
        <span id="Search-btn-span"><img src="~/Images/maglss.png" /></span>
    </button>
}
