body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Container */
.container-fluid, #News-section {
    background: #fbf4e0;
    margin: 40px auto 10px;
    padding: 20px 0px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* Page Header */
.page-header {
    background: #fbf4e0;
    margin: -30px 0px 0px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #a83b3b;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #a83b3b;
        }
/* Thumbnail Box */
.caption {
    height: 140px;
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.caption .span4, .caption .span8 {
    padding: 0px 20px;
}
    .caption .span4 {
        border-right: 1px dotted #CCCCCC;
    }
.caption h3 {
    color: #a83b3b;
    line-height: 2rem;
    margin: 0 0 20px;
    text-transform: uppercase;
    }
    .caption p {
        font-size: 1rem;
        line-height: 1.6rem;
        color: #a83b3b;
        }
        .btn.btn-mini {
            background: #a83b3b;
            border-radius: 0 0 0 0;
            color: #fbf4e0;
            font-size: 0.63rem;
            text-shadow: none !important;
            }
.carousel-control {
    top: 33%;
    margin-top: -193px;
    padding-top: 250px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
.container-fluid, #News-section {
    background: none;
    box-shadow: none;
}
#Search-bar {
    width: 419px;
    height: 28px;
    margin-top: 10px;
    margin-left: 225px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
#Search-btn {
    width: 80px;
    height: 28px;
    margin-left: -4px;
    background: #4387fd;
    border: none;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#Search-btn-span img {
    margin-bottom: -1px;
}
#Search-bar-form { float: left; }
#News-section {
    margin-top: 0;
}
.play-info-section { margin-bottom: 50px; }
.play-entry {margin-bottom: 50px;}
.play-entry .span3 {padding-top:25px;}
.registration-section { padding-bottom: 10px; }
.registration-section input { 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 250px;
}
#Register-btn { margin-left: 15px; }

.bannerImage a img {
    margin: 0 auto;
    width: 100%;
}
#Main-page-block-top { 
}
/* Login Menu */
#container {
	width:700px;
	margin:0 auto;
	padding:13px 10px;
	border:1px solid #999;
}
a.btnsignin, a.btnsignout {
	background:#999;
	padding:5px 8px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
a.btnsignin:hover, a.btnsignout:hover {
	background:#666;
}
a.btnsigninon {
	background:#ccc!important;
	color:#666!important;
	outline:none;
}
#frmsignin {
	display:none;
	background-color:#ccc;
	position:absolute;
	top: 59px;
	width:215px;
	padding:12px;
	*margin-top: 5px;
	font-size:11px;
	-moz-border-radius:5px;
	-moz-border-radius-topleft:0;
	-webkit-border-radius:5px;
	-webkit-border-top-left-radius:0;
	border-radius:5px;
	border-top-left-radius:0;
	z-index:100;
}
#frmsignin input[type=text], #frmsignin input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#frmsignin p {
	margin:0;
}
#frmsignin label {
	font-weight:normal;
}
#submitbtn {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#333;
	border:1px solid #fff;
	color:#fff;
	padding:5px 8px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#submitbtn:hover, #submitbtn:focus {
	border:1px solid #000;
	cursor:pointer;
}
.submit {
	padding-top:5px;
}
#msg {
	color:#F00;
}
#msg img {
	margin-bottom:-3px;
}
#msg p {
	margin:5px 0;
}
#msg p:last-child {
	margin-bottom:0px;
}