body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #999995;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Container */
.container-fluid, #News-section {
    background: #fbf4e0;
    margin: 40px auto 10px;
    padding: 20px 0px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* Page Header */
.page-header {
    background: #fbf4e0;
    margin: -30px 0px 0px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #a83b3b;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #a83b3b;
        }
.bannerImage a img {
    margin: 0 auto;
    width: 100%;
}
#Btn-login {
    margin-left: 15px;
    width: 175px;
    margin-top: 60px;
}
/* Thumbnail Box */
.caption {
    height: 140px;
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    z-index: 7;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.caption .span4, .caption .span8 {
    padding: 0px 20px;
}
    .caption .span4 {
        border-right: 1px dotted #CCCCCC;
    }
.caption h3 {
    color: #a83b3b;
    line-height: 2rem;
    margin: 0 0 20px;
    text-transform: uppercase;
    }
    .caption p {
        font-size: 1rem;
        line-height: 1.6rem;
        color: #a83b3b;
        }
        .btn.btn-mini {
            background: #a83b3b;
            border-radius: 0 0 0 0;
            color: #fbf4e0;
            font-size: 0.63rem;
            text-shadow: none !important;
            }
.carousel-control {
    top: 33%;
    margin-top: -193px;
    padding-top: 250px;
    z-index: 5;
    float:left;
}
.carousel-control.middle {
    height: 430px;
    width: 600px;
    z-index: 4;
}
.carousel-control.left, .carousel-control.right, .carousel-control.middle {
    background-image: none !important;
}
.container-fluid, #News-section {
    background: none;
    box-shadow: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#Footer {
    margin: 0 auto;
    width: 10%;
}
#Login-img img {
    margin-left: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.75);
}
#Login-menu {
    background: #a1a1a1;
}
.login-input {
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
#Logout-btn, #Logout-btn:hover, #Logout-btn:active {
    text-decoration: none;
}
#Main-page-block-top { 
}
#Main-screen {
    margin-left: -60px;
}
#Middle-strip {
    background: whitesmoke !important;
    max-width: 1050px !important;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
}
#myCarousel {
    width: 595px;
    margin-left: 170px;
    padding-top: 10px
}
#News-section {
    margin-top: 100px;
}
.no-account-link {
    margin-left: 10px;
}
    #No-account-link a, #No-account-link a:hover, #No-account-link a:active {
        text-decoration: none;
    }
.play-info-section { margin-bottom: 50px; }
.play-entry {margin-bottom: 50px;}
.play-entry .span3 {padding-top:25px;}
.play-info-picture {
    border: 2px solid black;
    border-radius: 12.5px;
}
.registration-section { padding-bottom: 10px; }
.registration-section input { 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 250px;
}
#Register-btn { margin-left: 15px; }
#Search-form { float: left; }
#Search-bar {
    width: 350px;
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: 0 !important;
}
#Search-btn {
    background: #666;
    border-color: #666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
    #Search-btn:hover {
        background: #3056bd;
        border-color: #3056bd;
    }
#Search-btn-span img {
    margin-bottom: -1px;
}
#Search-bar-form { float: left; }
#Search-input {
    float: left;
    background: #3056BD;
    color: #FFF;
    border-color: #3056BD;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#TV-img img { 
    max-width: 1100px;
    margin-top: -130px;
    z-index: 3;
    position: absolute;
}
#User-profile {
    padding-top: 20px;
}
    #User-profile #User-img {
        background-image: url('http://placehold.it/200x200');
    }
.write-up-section {
    height: 250px;
    border: 2px solid #A1A1A1;
    border-radius: 12.5px;
    background: -webkit-linear-gradient(#DDDDDD, #A1A1A1);
    background: -o-linear-gradient(#DDDDDD, #A1A1A1);
    background: -moz-linear-gradient(#DDDDDD, #A1A1A1);
    background: linear-gradient(#DDDDDD, #A1A1A1); 
}



.results-container{
    text-align:center;
}

.results-item{
    text-align: left;
    margin: 10px;
    padding: 5px;
    border: 1px solid  #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    display: inline-block;
}

.results-heading{
    height: 50px;
    width: 100%;
    padding: 10px;
    float: left;
}

.results-heading-title{
    font-size:14pt;
    float: left;
    max-width: 300px;
    text-overflow: ellipsis;
}

.results-console{
    float:right;
}

.results-body{
    height: 150px;
    width: 450px;
}

.results-box-art {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    float:left;
}

.results-box-art img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.results-info{
    width: 300px;
    height: 150px;
    float: left;
}

.results-info-details {
    background-color: green;
    padding: 10px;
    width: 300px;
    height: 100px;
    float: left;
    background-color: #f5f5f5;
}

.results-rating {
    width: 300px;
    height: 50px;
    background-color:darkgray;
    float: left;
    text-align: center;
}

.results-rating-text{
    position: absolute;
    color: white;
    display: inline-block;
}

.form-add-game{
    width: 50%;
}

